.App {
  text-align: center;
  background-image: url('./soundwave.png');
  filter: drop-shadow(5px 5px 2px #2727a8);
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(39, 6, 32, 0.33);
}

body {
	background: linear-gradient(-45deg, #f3a96d, #e73c7e, #23a6d5, #23d573);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
  font-size: 7rem;
  text-shadow: 8px 8px 1px rgba(0,0,0,.5);
  opacity: 1;
}

a{
  font-size: 4rem;
  font-weight: 700;
  color: #342b72;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#images{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#contain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

img{
  max-width: 400px;
  border-radius: 50%;
}

img:hover{
  cursor: pointer;
  transform: scale(1.5);
  transition: 1.2s;
}

button{
  background-image: linear-gradient(92.88deg, #1b3286 9.16%, #342b72 43.89%, #362079 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  box-shadow: 4px 4px 1px rgba(0,0,0,.5);
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 8px;
  font-size: 2rem;
  height: 4rem;
  width: 15rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  margin: 20px;
}

button:hover {
  box-shadow: 4px 4px 1px rgba(0,0,0,.5);
  font-size: 2.2rem;
}

input{
  height: 4rem;
  width: 18rem;
  border-radius: 8px;
  border-radius: 8px;
  padding: 0 1.6rem;
}

